<h1>Lav en ny opskrift</h1>

<!--simple stepper where we can come from site number 1 to site number 2 with validator -->
<div class="row">

  <div class="col">
    <mat-stepper linear orientation="vertical">
      <mat-step [stepControl]="formGroup">
        <ng-template matStepLabel>Opskrift information</ng-template>
        <form [formGroup]="formGroup" #localForm="ngForm">
          <label>Titel</label>
          <input type="text" class="form-control " style="width: 300px" formControlName="title"
                 [class.is-invalid]="localForm.submitted && formGroup.get('title')?.invalid">
          <div class="invalid-feedback">title skal være udfyldt</div>

          <br>
          <label>Sværhedsgrad</label>
          <input type="text" class="form-control " style="width: 300px" formControlName="difficulty">
          <br>

          <label>Beskrivelse</label>
          <div class="form-floating">
        <textarea formControlName="description" class="form-control" placeholder="Efterlad en kommentar om din opskrift"
                  id="floatingTextarea2" style="height: 150px; width: 500px"
                  [class.is-invalid]="localForm.submitted && formGroup.get('description')?.invalid"></textarea>
            <label for="floatingTextarea2">kommentar</label>
            <div class="invalid-feedback">description skal være udfyldt</div>

          </div>
          <button class="btn btn-primary" style="margin-top: 10px" type="submit" cdkStepperNext>Next</button>

        </form>
      </mat-step>

      <mat-step [stepControl]="formGroupInfo">
        <ng-template matStepLabel>Teknisk information</ng-template>
        <form [formGroup]="formGroupInfo">

          <label>sprog for opskrift pdf</label>
          <input type="text" class="form-control " style="width: 300px" formControlName="language">
          <br>

          <label>Strikkeping størelse</label>
          <input type="text" class="form-control " style="width: 300px" formControlName="needleSize">
          <br>

          <label>Gauge</label>
          <input type="text" class="form-control " style="width: 300px" formControlName="gauge">
          <br>

          <label>Garn Typer</label>
          <div class="form-floating">
        <textarea formControlName="yarn" class="form-control" placeholder="Garn typer"
                  id="floatingTextarea3" style="height: 150px; width: 500px"></textarea>
            <label for="floatingTextarea3">Garn Typer</label>

          </div>
          <button class="btn btn-primary" style="margin-top: 10px" type="button" cdkStepperPrevious>Back</button>

          <button class="btn btn-primary" style="margin-top: 10px" type="submit" cdkStepperNext>Next</button>

        </form>
      </mat-step>


      <mat-step [stepControl]="formGroupPdf">
        <ng-template matStepLabel>Vælg Pdf</ng-template>
        <form [formGroup]="formGroupPdf" #localFormPdf="ngForm">
          <input accept="application/pdf" (change)="onFileSelectedPdf($event)" formControlName="pdf"
                 class="form-control"
                 id="formFileLg" style="width: 300px"
                 type="file"
                 [class.is-invalid]=" localFormPdf.submitted && formGroupPdf.get('pdf')?.invalid"/>
          <div class="invalid-feedback">En opskrift skal have en pdf</div>
          <button class="btn btn-primary" style="margin-top: 10px" type="button" cdkStepperPrevious>Back</button>
          <button class="btn btn-primary" style="margin-top: 10px; margin-left: 12px" type="submit" cdkStepperNext>Next
          </button>

        </form>
      </mat-step>

      <mat-step [stepControl]="formGroupImage">
        <ng-template matStepLabel>Vælg billede</ng-template>
        <form [formGroup]="formGroupImage" #localFormImage="ngForm">
          <input accept="image/png,image/jpeg" (change)="onFileSelectedImage($event)" formControlName="image"
                 class="form-control" style="width: 300px"
                 type="file"
                 [class.is-invalid]="localFormImage.submitted && formGroupImage.get('image')?.invalid"/>
          <div class="invalid-feedback">En opskrift skal have et billede</div>
          <button class="btn btn-primary" style="margin-top: 10px" type="button" cdkStepperPrevious>Back</button>
          <button class="btn btn-primary" style="margin-top: 10px; margin-left: 12px" type="submit" cdkStepperNext>Next
          </button>
        </form>


      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button class="btn btn-primary" style="margin-top: 10px" matStepperPrevious>Back</button>
          <button class="btn btn-primary" style="margin-top: 10px; margin-left: 12px" (click)="submit()">Færdig</button>
        </div>
      </mat-step>

    </mat-stepper>


    <div *ngIf="patternCreated" class="alert alert-success">
      Din opskrift er uploadet
    </div>

    <div class="alert alert-danger" *ngIf="!patternCreated && submitted">
      {{errorMsg}}
    </div>
    <button class="btn btn-primary" style="margin-left: 20px" routerLink="user/mypatterns">Tilbage</button>

  </div>
  <div class="col">
    <img [src]="image" class="card-img-top" style="width: 500px; height: 500px" *ngIf="this.image != null">

  </div>
</div>

