<div class="mt-2">
  <div class="p-2 d-flex">
    <h1 class="p-2">Alle brugere</h1>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
           placeholder="Søg efter en bruger" style="max-width: 20rem; height: 24px; margin-top: 13px" >
  </div>
  <ol class="flex-container">
    <div class="card" *ngFor="let u of this.users | filter:searchText" style="width: auto;">
      <div class="card-body text-center">
        <img [src]="u.profilePicture" *ngIf="u.profilePicture != undefined" alt="" width="64" height="64"
             class="rounded-circle me-2">
        <img *ngIf="u.profilePicture == undefined"
             src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
             alt="" width="64" height="64"
             class="rounded-circle me-2">
        <p class="mat-card-top">{{u.username}}</p>
        <a routerLink="/user/userprofile//{{u.id}}" class="btn btn-outline-success">Se profil</a>

      </div>
    </div>
  </ol>
</div>
