<div class="container mt-5">
  <app-admin-register (notify)="addNewUser($event)"></app-admin-register>
  <!-- User table -->
  <div class="row">
    <div class="col">
      <h1>Alle brugere</h1>
      <table class="table table-hover border">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Fødselsdag</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of userList">
          <th scope="row">{{u.id}}</th>
          <td>{{u.username}}</td>
          <td>{{u.email}}</td>
          <td>{{u.birthDay}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteUser(u.id)">Slet</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Admin table -->
    <div class="col">
      <h1>Alle admins</h1>
      <div class="row">
        <div class="col">
          <table class="table table-hover border">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Fødselsdag</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let u of adminList">
              <th scope="row">{{u.id}}</th>
              <td>{{u.username}}</td>
              <td>{{u.email}}</td>
              <td>{{u.birthDay}}</td>
              <td>
                <button class="btn btn-outline-danger" (click)="deleteAdmin(u.id)">Slet</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

