

    <form [formGroup]="formGroup" disabled="true">

      <br>
      <label>brugerNavn</label>
      <input formControlName="username" type="text" class="form-control " style="width: 300px">
      <br>
      <label>email</label>
      <input formControlName="email" type="text" class="form-control " style="width: 300px">
      <br>
      <label class="form-check-label" for="birthday">Fødselsdag</label>
      <!-- Birthdate input -->
      <div>
        <input
              name="birthday"
              ngbDatepicker
              #d="ngbDatepicker"
              formControlName="birthday"
              />
            <button name="birthday" class="btn btn-outline-secondary bi bi-calendar3"
                    id="birthday"
                    (click)="d.toggle()"
                    type="button"
            ></button>
          </div>
          <div class="invalid-feedback" >Valg en gyldig dato</div>
          <label class="form-check-label" for="birthday">Fødselsdag</label>


      <br>

      <div *ngIf="this.formGroup.enabled">

        <br>
        <label>Profil Billede</label>
        <input accept="image/png,image/jpeg" (change)="onFileSelectedImage($event)" formControlName="profilePicture"
               class="form-control" style="width: 300px"
               type="file"/>

        <br>
        <button class="btn btn-primary" (click)="cancelEdit()">Annuller</button>

        <button class="btn btn-primary" (click)="submitEdit()" style="margin-left: 10px">opdater</button>
      </div>
      <br>
      <div class="alert alert-danger" *ngIf="errorMsg != undefined ">
        {{errorMsg}}
      </div>
    </form>

