
<button mat-raised-button routerLink="/user/createpattern">Lav Oskrifter </button>

<br>
<div class="fs-4 fw-bold mt-3" > Mine opskrifter </div>

<ol class="flex-container">
<div class="card"  *ngFor="let p of this.patterns" style="width: 18rem;">
  <img [src]="p.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    <p class="card-text">{{p.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</ol>
