<div *ngIf="project" class="container">
  <div class="row">
    <div class="col">
      <h1>{{project.title}}</h1>
      <img src="{{project.image}}" style="max-height: 400px; max-width: 400px" alt="...">
    </div>
    <div class="col mt-5">
      <button class="btn btn-success" type="button">Nyt opslag</button>
      <button class="btn btn-danger" (click)="deleteProject()" type="button">Slet projekt</button>
      <button class="btn btn-primary" (click)="collapse.toggle()" type="button">Rediger</button>

      <button *ngIf="project.isActive" class="btn btn-warning" (click)="endProject()" type="button">Afslut projekt</button>
      <button *ngIf="!project.isActive" class="btn btn-secondary" (click)="restartProject()" type="button">Genstart projekt</button>
      <!--edit foldout -->
      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="editCollapsed"
        class="mt-3">
        <form [formGroup]=updateForm
              (ngSubmit)="updateProject()"
              #localForm="ngForm">
          <!-- title input -->
          <div class="mb-3">
            <label for="title">Projekt titel </label>
            <input class="form-control"
                   type="text"
                   id="title"
                   formControlName="title"
                   [class.is-invalid]="localForm.submitted && updateForm.get('title')?.invalid">
            <div class="invalid-feedback">Udfyld projekt titel</div>
          </div>

          <!-- image input -->
          <div class="mb-3">
            <label for="coverImg">Cover billede </label>
            <input accept="image/png, image/jpeg"
                   class="form-control"
                   type="file"
                   id="coverImg"
                   (change)="onFileSelectedPdf($event)">
          </div>

          <!-- submit button -->
          <button class="btn btn-primary" type="submit" (click)="updateProject()">Opdater projekt</button>
          <!-- Cancel button-->
          <button class="btn btn-outline-danger" (click)="cancelUpdate(collapse)" >Anuller</button>
        </form>

      </div>
    </div>

  </div>


  <!-- Post list -->
  <h1> Alle opslag:</h1>
  <h1>TODO: CARD LISTE AF POSTS (CLICK) -> MODAL VIEW MED LEFT AND RIGHT</h1>
  <div *ngFor="let p of postList">
    <div class="flex-container">
      <div class="card" style="width: 18rem;" [class.selected]="p">
        <img class="card-img-top ratio ratio-16x9" style="height: 20rem" src="{{p.image}}" alt="...">
        <div class="card-body">
          <h2>{{p.title}}</h2>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




